

<%- include('partials/header.ejs') %> 

<div class="container">
    <section class="hero_section">

    <h1 class="hero_text">
        EASY <span class="bank_text">BANK</span>.
    </h1>
    <h2 class="hero_text_second">
        Transfer customers' funds with just one click.
        <br>
        We will take care of your customer's security.
    </h2>

</section>
<section class="hero_section_button">
   <a href="/transfer">
    <button class="hero_transfer_btn" type="button">
        <span>Transfer </span>
    </button>
    </a> 

</section>
</div>
     

 <%- include('partials/footer.ejs') %>

 